.ColorSectionComp {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 1.2rem;
}

.ColorPicker {
  display: inline-flex;
  align-items: center;
  width: 150px;
  max-width: 150px;
  padding: 4px 12px;
  border: 1px solid #bfc9d9;
  border-radius: 4px;
  &::-webkit-color-swatch {
    border: 1px solid #bfc9d9;
    border-radius: 4px;
    padding: 0;
  }
}

.ColorInput {
  margin-right: 8px;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  width: 1.8rem;
  height: 1.4rem;
}

.ColorText {
  border: none;
  width: 100%;
  font-size: 0.9rem;
}
