/*<-- Main App background  App.js-->*/
.App {
  background: #e2e4e9;
}

.AppDark {
  background: #15202b;
  color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
}

/*<-- Card read-grid-layout App.js -->*/
.Card {
  background-color: #eaecf1;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.CardDark {
  background-color: #192734;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/*<-- Navbar.js -->*/
.Nav {
  /*list-style-type: none;*/
  margin: 0;
  padding: 0;
  background: #194fd8;
  /*display: flex; */
  /*flex-direction: row;*/
  /*align-items: center; */
  /*flex-direction: column;*/
  /*justify-content: center;*/
}

.NavDark {
  margin: 0;
  padding: 0;
  background: #22303c;
}

.NavInfo {
  font-size: 0.6em;
}

/*<-- Avatar App.js -->*/
.Avatar {
  /*background-color: #d83b01;*/
  border-radius: 50%;
  color: rgb(0, 0, 0);
  height: 2em;
  width: 2em;
  top: 0.5%;
  border: 1px solid transparent;
  padding: 1px;
}

/*<-- Marker image Marker.js -->*/
.circle {
  background-color: #d83b01;
  border-radius: 50%;
  /*color: rgb(0, 0, 0); */
  height: 2em;
  width: 2em;
  border: 1px solid transparent;
  /*z-index: 1; */
}

.circleInvisible {
  background-color: none;
  border-radius: 50%;
  /*color: rgb(0, 0, 0); */
  height: 2em;
  width: 2em;
  border: none;
}

.MarkersZ {
  /* z-index: 1;*/
}

.MarkersZPoint {
  z-index: -1;
  border-radius: 50%;
  background-color: blue;
  height: 3.2em;
  width: 3.2em;
  border: none;
  position: absolute;
  left: -0.4rem;
  top: -0.4rem;
  right: 0;
  opacity: 0.5;
}

.MarkerImage {
  height: 3em;
  width: 3em;
  justify-content: center;
  position: absolute;
  position: absolute;
  left: -0.21rem;
  top: -0.25rem;
  right: 0;
  z-index: -1;
}

.circleText {
  text-align: center;
  height: 50%;
  left: 50%;
  position: static;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: rgb(0, 0, 0);
}

.hover {
  background-color: #0078d4;
}

/* Deprecated */
.NavConsole {
  background: #7d869e;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

/*<-- Top bar file console Console.js -->*/
.NavFile {
  width: 100%;
  background: #bcc2d4;
  align-items: center;
  justify-content: space-between;
}

.NavFileDark {
  width: 100%;
  background: #22303c;
  align-items: center;
  justify-content: space-between;
}

.NavButtons {
  display: flex; /* inline flex */
  flex-direction: row-reverse; /* right to left in ltr */
  align-self: flex-end;
  position: relative;
  left: 60%;
  width: 40%;
  column-gap: 1.5rem;
  /*background: white;*/
}

.NavOptions {
  display: flex; /* inline flex */
  position: relative;
  align-items: center;
  justify-content: center;
  width: 30%;
  right: 17%;

  /*background: yellow;*/
}

.optionSelector {
  align-items: center;
}

.optionSelContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  column-gap: 1%;
  height: 2.1rem;
  right: 100em;
  width: 50rem;
}

.optionSelItemGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 4px;
}

.RangeInputNavConsole {
  display: flex; /* inline flex */
  align-items: center;
  justify-content: center;
  width: 12rem;
  padding: 1rem;
  color: #8f23b3;
  fontweight: 20;

  /*background: yellow;*/
}

.Console {
  width: 100%;
  height: 100%;
}

/* used to render components under console nav*/
.ConsoleRender {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 3em;
}

/*<-- Import.js -->*/

/* upload file component */
.FileSection {
  top: 20%;
  height: 60%;
  position: relative;
}

/* upload file component's input text*/
.FileImportInput {
  left: 26%;
  width: 50%;
  position: relative;
  padding: 1em;
}

.IconAfterUpload {
  width: "auto";
  height: 2.5rem;
}

/*<-- DataConsole.js -->*/

.DataContainer {
  top: 0%;
  right: 0%;
  position: absolute;
  color: inherit;
  display: flex;
  flex-direction: column;
  /* background: yellow; */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
  width: 100%;
  height: 25rem;
  overflow: scroll;
}

.PropertiesViewTab {
  position: relative;
  top: 0.2rem;
  margin: 0.2rem;
  /*background: blue;*/
}

.PropertyBadge {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 0.3rem;
  row-gap: 0.3rem;
  width: 100%;
  max-height: 22rem;
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
  overflow: scroll;
}

.PropertiesViewRegexTab {
  position: relative;
  top: 3rem;
  /*background: red; */
}

.RegexInput {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  column-gap: 2%;
  /*background: black;*/
}

.ShowRegexRules {
  width: 100%;
  padding: 2%;
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
  overflow: scroll;
  max-height: 22rem;
}

.RegexAddButton {
  height: 1.9em;
  width: 1.7rem;
  background-image: url("./assets/images/icon/plus-48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2.1rem 2.1rem;
  background-color: transparent;
}

.RegexButtonInput {
  background-image: url("./assets/images/icon/find-48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1rem 1rem;
}

.InputGroupDrop {
  width: 70%;

  position: relative;
  margin-left: auto; /* auto center */
  margin-right: auto; /* auto center */
}

.PropertiesViewVizTab {
  position: relative;
  top: 8rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 4%;
  padding: 2%;
  /*background: green;*/
}

.VizTabButtons {
  row-gap: 1rem;
  column-gap: 4%;

  display: flex;
  flex-wrap: wrap;
  align-self: auto;
  align-items: space-between;
  align-content: stretch;

  width: 18rem;

  margin-left: auto; /* auto center */
  margin-right: auto; /* auto center */
  /*background: red; */
}

.PropertiesView {
  /*background: blue; */
  border-radius: 4px;
  height: 100vh; /* Add full height */
  /*box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);*/
}

.PaginationConsole {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10rem;
}

.ConsoleTable {
  /* background: pink; */
  justify-content: center;
  overflow-y: auto; /* Trigger vertical scroll */
  overflow-x: auto; /* Hide the horizontal scroll */
  width: 100%;
}

/*<-- DataViewer -->*/

.TableData {
  width: 100%;
  height: 100%;
  /*background: white; */
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/*<-- Search.js display container -->*/
.Search {
  display: flex; /* inline flex */
  justify-content: center;
  /*align-items: center;*/
  flex-wrap: wrap;
  width: 100%;
}

/*<-- Search.js cards -->*/
.SearchCard {
  padding: 0.5rem;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: auto;
  text-align: left;
}

.SearchCardDisplay {
  width: 20rem;
  height: 10rem;
  margin: 0.5em;
  font-size: 0.8em;
}

/*<-- Search.js text input -->*/
.SearchInput {
  width: 20rem;
  padding: 1%;
  position: relative;
  top: 0

}


/*<-- Popup InfoBox Marker.js  -->*/
.InfoBox {
  padding: 1em;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
}

/*<--  MapSettings.js Switches group -->*/
.SwitchGroup {
  position: relative;
  left: 10%;
  width: 100%;
  text-align: left;
  padding: 0.4rem;
  overflow-y: scroll;
}

.CheckGroup {
  display: flex;
  position: relative;
  left: 10%;
  width: 100%;
  text-align: left;
  padding: 0.4rem;
  overflow-y: scroll;
}

.CheckboxMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 5%;
  top: 1rem;
  overflow-y: scroll;
}

.CoordinatesInput {
  width: 45%;
  height: 95%;
}

.CoordinatesText {
  width: 8rem;
}

.CoordOptionInput {
  display: flex;
  justify-content: space-around;
  width: 90%;
  position: relative;
  left: 2%;
  padding: 1%;
  column-gap: 1%;
}

.CoordinatesInputGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 5%;
  width: 100%;
}

.SettingsCard {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  padding: 2%;
  border-radius: 4px;
  overflow-y: scroll;
  height: 60%;
}

/*<--  CSS Override zone -->*/

.nav-dropdown {
  display: none;
}

.dropdown-menu {
  height: 100px;
  overflow-y: scroll;
}

/*  Important for table inherit colors */
.table-striped {
  color: inherit !important;
}

/* when hover override css style */
.table-hover tbody tr:hover {
  color: blue !important;
}

.input-range__label--value .input-range__label-container {
  background: #e27a3f;
  color: white;
  font-size: 0.54rem;
  padding: 1px 4px;
  border-radius: 2px;
}

.input-range__label--min .input-range__label-container,
.input-range__label--max .input-range__label-container {
  font-size: 0.65rem;
  color: #888;
  left: 0;
  position: relative;
  top: -0.5rem;
}

.input-range__label--max .input-range__label-container {
  left: 0;
}

.OverlayButton {
  z-index: 2;
  position: relative;
  top: 1rem;
}

.OverlayCheckButton {
  z-index: 2;
  width: 35%;
  display: flex;
  position: relative;
  top: 1rem;
  /*background:red;*/

  /* position: relative;*/
  /* left: 0px; */
  /* top: 1%; */
  /* position: relative; */
}

.OverlayCheckButtonGroup {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-self: auto;
  align-content: space-between;
  justify-content: center;
  z-index: 2;
  /*background: yellow;*/
}

.MapOverlap {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: auto;

  position: relative;
  top: 1%;
  left: 35%;
  width: 35%;
  height: 0;

  z-index: 2;
  /* background: black; */
}
